<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Winforms.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Winforms.Properties.Settings>
            <setting name="dir" serializeAs="String">
                <value />
            </setting>
            <setting name="inputLangDeepl" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="outputLangDeepl" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="inputLangDeeplPro" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="outputLangDeeplPro" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="inputLangGoogle" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="outputLangGoogle" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="apiKeyDeepl" serializeAs="String">
                <value />
            </setting>
            <setting name="apiKeyDeeplPro" serializeAs="String">
                <value />
            </setting>
            <setting name="apiKeyGoogle" serializeAs="String">
                <value />
            </setting>
            <setting name="tab" serializeAs="String">
                <value>0</value>
            </setting>
        </Winforms.Properties.Settings>
    </userSettings>
</configuration>